<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Contact</h3>
    <!-- {% for contact in site.data.contacts_data %} -->
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <h4>{{ site.data.contact_data.name }}</h4> 
        <p>{{ site.data.contact_data.title }} | {{ site.data.contact_data.department }}</p>
        <p>{{ site.data.contact_data.institution }} | {{ site.data.contact_data.institution_address }}</p>
        <!-- <p>Phone: {{ contact.phone }}</p> -->
        <p>Email: {{ site.data.contact_data.email }}</p>
        <!-- <p>Office: {{ contact.office }}</p> -->
      </div>
      <div class="col-md-4">
        <img src="{{ site.github.url }}/{{ site.data.contact_data.image }}" alt="Contact" width="100%">
      </div>
    </div>
    {% endfor %}
  </div>
</div>
