<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Contact</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-7">
        <h4>Dr. Sara Pérez Vieites</h4> 
        <p>Postdoctoral Researcher | &nbsp; CERI Systèmes Numériques (Digital Systems)</p>
        <p>IMT Nord Europe | &nbsp; Rue Guglielmo Marconi, 59650, Villeneuve-d’Ascq</p>
        <!-- <p>Phone: +34 xxx xx xx xx </p> -->
        <p>Email: &nbsp; <b>sara.perez-vieites@imt-nord-europe.fr</b></p>
        <!-- <p>Office: xxxxx </p> -->
      </div>
      <div class="col-md-5">
        <img src="{{ site.github.url }}/assets/img/cropped-IMT_Nord_Europe_.png" alt="Contact" width="100%">
      </div>
    </div>
  </div>
</div>
