<!-- 
<div class="row g-5 mb-5">
  <div>
      <h3 class="fw-bold border-bottom pb-3 mb-5">News</h3>
      {% for item in site.data.news %}
        <p>
          {% if item.last == "1" %}
            - {{ item.message }}
          {% endif %}      
        </p>
      {% endfor %}
  </div>
</div>
-->

<div class="row g-5 mb-5">
  <div>
    {% if page.title == "Home" %}
    <h3 class="fw-bold border-bottom pb-3 mb-5">Last news</h3>
      {% for item_news in site.data.news %} 
      <ul>
        {% if item_news.last == "1" %}
        <li> {{ item_news.message }} </li>
        {% endif %}      
      </ul>
      {% endfor %}
        <p><a class="text-dark me-3 py-2 text-decoration-none" href="{{ site.github.url }}/news"><u>All news</u></a></p>
    {% else %}
    <h3 class="fw-bold border-bottom pb-3 mb-5">News</h3>
      {% for item_news in site.data.news %} 
      <ul>
        <li> {{ item_news.message }} </li>      
      </ul>
      {% endfor %}
    {% endif %}
  </div>
</div>

<!--
<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">News</h3>
    {% for contact in site.data.settings.contacts %}
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <h4>{{ contact.name }}</h4>
        <p>{{ contact.title }} | {{ contact.department }}</p>
        <p>{{ contact.institution }} | {{ contact.institution_address }}</p>     
        <p>Email: {{ contact.email }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
-->
