<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
         <p>
        {% for item_authors in site.data.publications.featured.authors %}
           <a href="{{ item_authors.url }}">{{ item_authors.name }}</a> 
        {% endfor %}
           ({{ item.year }}). <em>{{ item.title }}</em> {{ item.journal }} [<a href="{{ item.web }}">journal</a>][<a href="{{ item.url }}">pdf</a>]  
        </p>
      {% endfor %}
    {% else %}
    <h4>Journals publications</h4>
      {% for item in site.data.publications.journal %}
        <p>{{ item.name }} [<a href="{{ item.web }}">journal</a>][<a href="{{ item.url }}">pdf</a>]</a></p>
      {% endfor %}
    <br>
    <h4>Conference papers</h4>
      {% for item in site.data.publications.conference %}
        <p>{{ item.name }} [<a href="{{ item.web }}">IEEE</a>][<a href="{{ item.url }}">pdf</a>]</p>
      {% endfor %}
    <br>
    <h4>Manuscripts under preparation</h4>
      {% for item in site.data.publications.arxiv %}
        <p>{{ item.name }} [<a href="{{ item.web }}">arXiv</a>][<a href="{{ item.url }}">pdf</a>]
        </p>
      {% endfor %}
    <br>
    <h4>Thesis</h4>
      {% for item in site.data.publications.thesis %}
        <p>{{ item.name }} [<a href="{{ item.url }}">pdf</a>]
        </p>
      {% endfor %}
   {% endif %}
  </div>
</div>
