$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$linkColor: #212529 !important;
$linkpapers: #741b47;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

body a {
  color: $linkColor
}
body a.other {color: $linkColor; background-color: transparent; text-decoration: underline;}

body a.paper {color: $linkpapers; background-color: transparent; text-decoration: none;}


