---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">CV</h3>
     <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Academic Experience</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.academic-experience %}
        <p><strong>{{ section.title }}</strong>
            <br>
          {{ section.place }}
        </p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Education</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
        <p><strong>{{ section.title }}</strong> 
          <br> 
          {{ section.place }}
          <!--<br>
          <small>{{ section.description }}</small>-->
        </p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <h4><a href='publications/cvSara.pdf'>Download CV</a></h4>
    </div>
  </div>
</div>
