---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">About me</h3>
    <p>I'm a postdoctoral researcher at the Signal Processing Group, in the Department of Signal Theory and Communications, Universidad Carlos III de Madrid (UC3M). I finished the Ph.D. in Multimedia and Communications from Universidad Carlos III de Madrid in 2022, under the supervision of Dr. Joaquín Míguez. Before that and in the same college, I got my master's degree in Multimedia and Communications, as well as the master's degree in Telecommunications engineering in 2017. Previously, I finished my Telecommunications Engineering bachelor's degree from Universidade de Vigo in 2015.</p>
    
    <p>My research interests are focused on signal processing, data assimilation and computational statistics. More specifically, I am interested in Bayesian inference, parameter estimation, filtering techniques and their application to different fields of science. </p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/profile.jpg" alt="Home" width="100%">
  </div>
</div>

{% include publications.html %}

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
