---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">About me</h3>
    <p>I'm a postdoctoral researcher at the <a class="other" href='https://imt-nord-europe.fr/en/'>CERI Systèmes Numériques (Digital Systems) of IMT Nord Europe</a> (Lille, France). I finished the Ph.D. in Multimedia and Communications (Statistical Signal Processing) from Universidad Carlos III de Madrid in 2022, under the supervision of <a class="other" href='https://jmiguez.webs.tsc.uc3m.es/'>Dr. Joaquín Míguez</a>. </p>     
    <!-- Before that and in the same college, I got my master's degree in Multimedia and Communications, as well as the master's degree in Telecommunications engineering in 2017. Previously, I finished my Telecommunications Engineering bachelor's degree from Universidade de Vigo in 2015. -->
    
    <p>My <strong>research interests</strong> are focused on signal processing, data assimilation and computational statistics. More specifically, I am interested in Bayesian inference in state-space models. I work on providing new techniques that run recursively (online) with a reduced computational complexity (compared to the state-of-the-art methods) in order to obtain both parameter and state estimates. I'm also interested in the application of these probabilistic methods in different fields of science such as ecology, energy, geoscience and climate. </p>
  </div>
  <div class="col-md-5">
    <br>
    <img src="{{ site.github.url }}/assets/img/fotoSara.jpeg" alt="Home" width="100%">
    <p style="font-size:12px">
      Location: <a class="other" href='https://goo.gl/maps/hsu2JB4HwjQN7TqC7'>Plaza de María Pita, A Coruña, Spain</a>.
    </p>
  </div>
</div>


{% include news.html %}

<!--
<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
-->
